<title>Calculator</title>
<body align="center" style="background-color:powderblue;">
<div class="content" align="center" style="background-color:powderblue;">
    <h1 style="text-align: center">Paras Dairy</h1>
    <h2 style="text-align: center">Milk Price Calculator</h2>


    <div class="form" align="center" >
        <form action="/math" method="POST">
            <label for="operation">This Is The Milk Of :</label>

<select id="operation" name="operation">
  <option value="Cow">COW</option>
  <option value="BUFFALO">BUFFALO</option>
</select>

		Quantity :
            <input type="text" name="num1" id="num1">
		Fat
            <input type="text" name="num2" id="num2">
            <input type="submit" value="Calculate">
        </form>
    </div>
</div>
</body>
